*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
:root{
    background: linear-gradient(180deg, #fdffff 0%, #fff8f6 100%);
    
    --font-color: #000;

    --one-rem: 1rem;
    --two-rem: 2rem;
    --point-two-rem: 1.2rem;

    --surface-color: #fff8f6;
    --primary-color: #f95738;
    --primary-hover: #c0442b;
    --primary-active: #a33924;

    --ghost-glow: #fdbd88;
    --accent-ghost: #fd915b;
}
body{
    width: 100vw;
    height: 100%;
}
.darkmode{
    background: linear-gradient(180deg, #0f1a20 0%, #15242c 100%);
    --font-color: #e7f6f9;

    --surface-color: #15242c;
    --primary-color: #64a6bd;
    --primary-hover: #3c7a91;
    --primary-active: #175e79;

    --ghost-glow: #b5f5ff;
    --accent-ghost: #9ad1d4;
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: #fdffff;
    position: relative;
    transition: all 0.3s ease-in-out;
}
#theme-switch svg{
    height: 24px;
    width: 24px;
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display:block;
    fill: #fdffff;
}
#theme-switch:hover{
    background-color: var(--primary-hover);
}
#theme-switch:active{
    background-color: var(--primary-active);
}
.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
.main-content{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: var(--point-two-rem);
    padding: var(--point-two-rem);
    flex: 1;
}
.main-content svg{
    height: 120px;
    width: 120px;
    fill: var(--primary-color);
}