@import url("./styles/format.css");
@import url("./styles/navbar.css");
@import url("./styles/footer.css");
@import url("./styles/indexPage.css");
@import url("./styles/products.css");
@import url("./styles/shipping.css");
@import url("./styles/contactForm.css");
@import url("./styles/cart.css");